@font-face {
	font-display: swap;
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 400;
	src: url('~/assets/fonts/Akrobat-Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 700;
	src: url('~/assets/fonts/Akrobat-Bold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	font-family: 'Akrobat';
	src: url('~/assets/fonts/Akrobat-SemiBold.woff2') format('woff2');
}